modules = ["c-clang14", "nodejs-20", "rust-stable", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["capnproto", "glibcLocales", "gmp", "libffi", "libxcrypt", "libyaml", "pkg-config", "xsimd"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 43233
externalPort = 3001

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "The Pound Web UI"

[[workflows.workflow]]
name = "The Pound Web UI"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 demo_pond.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "/nix/store/cn7gx98bvd6qj3jrh5v21q868nlv2jv6-python3-wrapper/bin/python3 $file"]
